:root {
  --color-azul: rgb(62, 125, 163);
  --color-azul-obscuro: rgb(8,26,38);
  --color-gris-claro: rgb(151, 168, 169);
  --color-gris-obscuro: rgb(52, 73, 94);
  --color-amarillo: rgb(252, 184, 34);
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hind Siliguri", sans-serif;
  
}


footer {
  background: var(--color-gris-obscuro);
  height: 7vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
  font-family: "Shadows Into Light Two", cursive;
  color: var(--color-amarillo);
}
footer>a:hover {
  color: var(--color-amarillo);
  font-size: 1.5em;
  background: #fff;
  padding: 6px 10px;
  border-radius: 10px;
}
footer>a:active {
  color: var(--color-gris-claro);
}
footer>a:visited {
  color: var(--color-amarillo);
}
nav {
  background: var(--color-azul);
  width: 100vw;
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  background: none;
  padding: 6px 15px;
  border-radius: 10px;
}
nav a:hover {
  background-color: white;
  color: var(--color-gris-claro);
}

main {
  height: 76vh;
  display: flex;
 
}
main section {
  margin: auto 0;
  width: 100vw;
  height:76vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  /*align-content:center;*/
  gap: 2em;
}

.card {
  width: 13.5rem;
  height: 20rem;
  font-size: 0.65em;
 
}

.card img {
  width: 100%;
  max-width: 350px;
  height: 13em;
  object-fit: cover;
}
.card > ul > li {
  line-height: 0.7em;
}
.card-body {
  height: 4em;
  background: var(--color-azul);
  text-align: center;
}
.card-body .card-title {
   color:#fff;
  font-size: 1.5em;
  font-weight:bold;
}
.card-text {
  color: white;
  
}
.list-group-item {
  text-align: center;
}
.finish {
  display: flex;
  height: 0.5em;
  align-items: center;
  justify-content: center;
  background-color:white; 
}

 .finish>a{
 color:white;
}  

.button1{
  background-color:var(--color-amarillo);
  border-radius:30px;
  padding:.4em 2em; 
}

.btn1{
  color:var(--color-gris-obscuro);
  text-decoration:none;  
}   
:root {
  --color-blanco: rgb(253, 254, 254);
  --color-azul: rgb(62, 125, 163);
  --color-azul-obscuro: rgb(8, 26, 38);
  --color-gris-fondo: rgb(242, 243, 244);
  --color-gris-claro: rgb(151, 168, 169);
  --color-gris-obscuro: rgb(52, 73, 94);
  --color-amarillo: rgb(252, 184, 34);
}

* {
  font-family: "Hind Siliguri", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 6vh;
  /*background-color:crimson;*/
}

nav {
  background: linear-gradient(90deg,
      var(--color-blanco),
      var(--color-gris-fondo));
  height: 6vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 6em;
  height: 6vh;
  padding: 0 0 0 3em;
  /*self:flex-start;*/
  object-fit: contain;
  /*background-color:purple;*/
}

.menu-nav {
  width: 90%;
  height: 6vh;
  border-radius: 0 0 0 10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 3em 0 0;
  /*background-color:aqua;*/
}

.menu-horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.menu-horizontal>li>a {
  display: block;
  padding: 6px 15.5px;
  color: var(--color-azul);
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 10px;
}

.menu-horizontal>li:hover {
  background-color: var(--color-amarillo);
  border-radius: 1em;
}

.menu-horizontal>li:last-child:hover {
  border-radius: 50%;
  padding: 0.2em;
}

.menu-vertical {
  position: absolute;
  display: none;
  list-style: none;
  width: 8em;
  background-color: var(--color-gris-fondo);
  border-radius: 1em;
}

.menu-horizontal li:hover .menu-vertical {
  display: block;
}

.menu-vertical li:hover {
  background-color: var(--color-amarillo);
  border-radius: 1em;
}

.menu-vertical li a {
  display: block;
  color: var(--color-azul);
  padding: 0.5em 1em 0.5em 1.5em;
  text-decoration: none;
}

main {
  height: 74vh;
}
footer{
  background-color: var(--color-gris-obscuro);
  color: var(--color-gris-fondo);
  height: 21vh;
  font-size: 0.7em;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.container-up{
  width:100%;
  height: 15vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.row{
  width:33.33%;
  height: 15vh;
}
.row:nth-child(2){
  font-size:2.5em;
  font-family: "Alkatra", cursive;
  color:var(--color-amarillo);  
  display:flex;
  align-items:center;
  justify-content:center;
}
.row h3{
  text-align:center;
}
.row h3:not(.hashtag){
  margin:0.2em; 
  text-transform: uppercase;
  letter-spacing:0.4em;
  }
.row>h3:hover{
  transform:matrix(0.7, -0.5, 0.5, 0.4, 0.5, 0.7);
 transform:rotate(360deg);
  color:rgba(252, 184, 34, 0.5);
  transition:2s;
  
}
.row ul li{
  list-style:none;
  height:1.2rem; /*separación área icon+texto*/
}
span[class~="icon"]{
  display: inline-block;
	width:1.5em;
	font-size:1em;
	color:rgb(133, 193, 233); /*#03a9f4;*/
  padding:0 .2em;
  margin:.5em 0 0 6.5em;
}
span[class~="texto"]{
  font-size:1em;
}
.redes{
 margin-left:4.5em;
}
.link{
  text-decoration:none;
  color:var(--color-gris-fondo);
}
.link:hover {
  color: var(--color-amarillo);
}
.row>ul>li>span>a{
  text-decoration:none;
  color:var(--color-gris-fondo);
}
.container-down{
  width: 100%;
  height: 5vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.liner{
  width:65%;
  border-top:0.05rem solid rgba(242, 243, 244, 0.6);
  margin:0 auto;
}